// Nav 	

#home-logo
	width 					: 80%
	margin	 				: 2em auto 0
	max-width 				: 25em
 	
// Main Content

#home-header
	@include coverbackground('/img/home-bg.jpg')
	height 					: 70vh
	text-align        		: center
	.col-md-4
		background-color	: rgba(0, 0, 0, 0.4)
		height 				: 70vh

#home-bar
	height 					: 25vh
	padding 				: 0 !important
 	
#home-store
	img
		width 				: 100%

 	
// Secondary Content 


// Buttons

#join-now
	color 					: white
	background-color 		: $theme-color
	width 					: 100%
	margin-top 				: 1em
	font-family	 			: "majesti"
	font-size 				: 2em
	border 					: 3px solid $theme-color
	background 				: display
	box-shadow 				: 0 0 5px #222
	border-radius 			: 10px
	transition 				: all .8s ease

#join-now:hover
	color 					: $theme-color
	background-color 		: $theme-color
	width 					: 100%
	margin-top 				: 1em
	font-family	 			: "majesti"
	font-size 				: 2em
	border 					: 3px solid $theme-color
	background 				: none
	box-shadow 				: 0 0 5px #222
	border-radius 			: 10px
	transition 				: all .2s ease



// Footer
 	
 	
// Tablet


// Mobile
 	
@media (max-width: $screen-sm-max)
	
	#home-logo
		width 					: 70%
		margin	 				: 6em auto 5em
		max-width 				: 25em
	
	#home-header
		height 					: 100vh
		.col-md-4
			height 				: 100vh
